{% extends "main/base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<main class="main">
{% block header_slider %}
<div class="slider">
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('{% static "deps/images/slide-1.jpg" %}');"></div>
            <div class="swiper-slide" style="background-image: url('{% static "deps/images/slide-2.jpg" %}');"></div>
            <div class="swiper-slide" style="background-image: url('{% static "deps/images/slide-3.jpg" %}');"></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
{% endblock  %}
</main>