{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">
  <main class="main">
    {% block block__content %}
      <section class="top-slider">
        <div class="top-slider__container">
          <div class="top-slider__inner">
            <div class="top-slider__item" style="background-image: url(' {% static 'deps/top-slider/slide1.webp' %} ');">
              <div class="top-slider__content">
                <h3 class="top-slider__title">
                  Special Combo <br />
                  For your Pets
                </h3>
                <div class="slider-sub-container">
                  <h5 class="slider-sub-title">
                    Just From
                    <span>$99</span>
                  </h5>
                </div>
                <div class="">
                  <a class="top-slider__link top-slider__link--shop" href="#">Shop Now</a>
                  <a class="top-slider__link top-slider__link--contact" href="#">Contact Us</a>
                </div>
              </div>
            </div>
            <div class="top-slider__item" style="background-image: url(' {% static 'deps/top-slider/slide2.webp' %} ');">
              <div class="top-slider__content">
                <h3 class="top-slider__title">
                  Our In-Home Pet <br />
                  Care Service
                </h3>
                <div class="">
                  <h5 class="slider-sub-title">
                    Just From
                    <span>$99</span>
                  </h5>
                </div>
                <div class="">
                  <a class="top-slider__link top-slider__link--shop" href="#">Shop Now</a>
                  <a class="top-slider__link top-slider__link--contact" href="#">Contact Us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="categories">
        <div class="container">
          <h2 class="categories__title">Shop By Category</h2>
          <div class="categories__items">
            {% for category in categories %}
              <div class="categories__item">
                <a class="categories__item-image__link" href=""><img class="categories__item-image" src=" {{ category.image.url }} " alt="" /></a>
                <a href="" class="categories__item-title">
                  {{ category.name }}
                  <span>
                    {% if category.count > 0 %}
                    {{ category.count }} items
                    {% else %}
                    0 items
                    {% endif %}
                  </span>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section class="selling">
        <div class="container-fluid">
          <h3 class="title">Best Selling</h3>
          <div class="selling__products">
            {% for best_selling in best_sellings %}
            <div class="product">
              <div class="product__image">
                <a href="">
                  {% if best_selling.image %}
                  <img src="{{best_selling.image.url}}" alt="">
                  {% endif %}
                  <div class="product__discount">30%</div>
                  <div class="product__active"></div>
                </a>
              </div>
              <div class="product__info">
                <h5 class="product__category">
                  <a href=""> {{best_selling.category}} </a>
                </h5>
                <p class="product__title">
                  {{best_selling.name}}
                </p>
                <div class="product__price__container">
                  <p class="product__new-price">$  {{best_selling.price}} </p>
                  <p class="product__old-price"> $ 44</p>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>
    {% endblock %}
  </main>
</html>
