{% extends 'base.html' %}
{% load static %}

{% block block__content %}
  <section class="about">
    <div class="about__prev">
      <div class="container">
        <h2 class="about__prev-title">About Us</h2>
      </div>
    </div>
    <div class="about__content">
      <div class="container">
        <h3 class="about__title">Hello, With 25+ Years Of Experience</h3>
        <div class="about__text">
          <p>Vexillologist vape microdosing freegan pork belly deep v direct trade cray single-origin coffee street art. Viral shaman mustache master cleanse, pour-over affogato poutine copper mug marfa fanny pack normcore. Lo-fi pop-up banjo portland, echo park hammock chillwave literally post-ironic ramps subway tile kitsch. Shaman tumblr fixie echo park street art. Enamel pin vaporware wayfarers, organic succulents hella sustainable cardigan.</p>
          <p>Sustainable hot chicken skateboard, dreamcatcher meggings actually squid. Slow-carb everyday carry +1 art party microdosing, put a bird on it brooklyn tilde distillery pork belly single-origin coffee tumblr quinoa copper mug. Affogato cold-pressed unicorn, viral intelligentsia leggings raw denim kombucha tote bag messenger bag chambray vape coloring book scenester. Activated charcoal wayfarers church-key tote bag synth brunch. Retro cornhole</p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-service">
    <div class="container">
      <h3 class="about-service__title">
        We Are Proud To Provide The Best Service For Customers
      </h3>
      <div class="about-service__items">
        <div class="about-service__item">
          <p class="about-service__item-text">
            consectetur adipiscing elit, sed eiusmod tempor incididunt ut 
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
            nostrud exercitation ullamco laboris nisi ut aliquip 
            commodo consequat. Duis aute irure dolor in 
            reprehenderit in voluptate velit.
          </p>
          <h5 class="about-service__item-title">
            Our History
          </h5>
          <p class="about-service__item-text">
            We must explain to you how all this mistaken idea of denouncing 
            pleasure and praising paint was born and I will give you 
            acomplete account of the system, and expound actual 
            teachings of the great explorer of the truth, the 
            master-builder of human happiness.
          </p>
          <h5 class="about-service__item-title">
            Operations
          </h5>
          <p class="about-service__item-text">
            Accusamus et iusto odio dignissimos ducimus qui blanditiis 
            praesentium voluptatum deleniti atque corrupti quos dolores 
            et quasa molestias excepturi sint occaecati cupiditate 
            provident, similique sunt in culpa qui officia deserunt mollitia animi,
          </p>
          <div class="about-service__sig">
            <img src=" {% static 'deps/images/sig.png' %} " alt="">
            <p class="about-service__sig-name">
              James Smith
              <span>CEO</span>
            </p>
          </div>
        </div>
        <div class="about-service__item">
          <img src=" {% static 'deps/images/about-1_1.webp' %} " alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="works">
    <div class="works__items">
      <div class="works__item">
        <img class="works__item-img" src="{% static 'deps/images/about-2.webp' %} " alt="" />
      </div>
      <div class="works__item">
        <h4 class="works__title">HOW WE WORKS</h4>
        <h5 class="works__item-title">Production Design</h5>
        <p class="works__item-text">Integer dignissim sagittis quam. 
            Maecenas sem eros, rutrum vitae risus eget, vulputate aliquam nisi.
        </p>
        <h5 class="works__item-title">Manufacturing</h5>
        <p class="works__item-text">Maecenas sem eros, rutrum vitae risus eget,
             vulputate aliquam nisi ex gravida neque tempus.
            </p>
        <h5 class="works__item-title">Marketing and selling</h5>
        <p class="works__item-text">Rutrum vitae risus eget, vulputate 
            aliquam nisi ex gravida neque tempus.
        </p>
      </div>
    </div>
  </section>
  <section class="team">
    <div class="container">
      <h3 class="team__title title">OUR TEAM</h3>
      <div class="team__items">

        <div class="team__item">
          <div class="team__item-img">
            <img src="{% static 'deps/images/team-person.jpg' %}" alt="">
          </div>
          <div class="team__item-job">Saler</div>
          <div class="team__item-name">Charlotte</div>
        </div>

        <div class="team__item">
          <div class="team__item-img">
            <img src="{% static 'deps/images/team-person.jpg' %}" alt="">
          </div>
          <div class="team__item-job">Saler</div>
          <div class="team__item-name">Charlotte</div>
        </div>

        <div class="team__item">
          <div class="team__item-img">
            <img src="{% static 'deps/images/team-person.jpg' %}" alt="">
          </div>
          <div class="team__item-job">Saler</div>
          <div class="team__item-name">Charlotte</div>
        </div>

        <div class="team__item">
          <div class="team__item-img">
            <img src="{% static 'deps/images/team-person.jpg' %}" alt="">
          </div>
          <div class="team__item-job">Saler</div>
          <div class="team__item-name">Charlotte</div>
        </div>

      </div>
    </div>
  </section>
{% endblock %}
