html {
  box-sizing: border-box;
}

/* font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html {
  position: relative;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  margin-bottom: 56px;
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
}


.header__inner {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 35px;
  align-items: center;
}

.menu__list-link {
  color: rgba(54, 56, 56, 0.9);
  line-height: 22px;
  transition: all .3s;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
}

.menu__list-link:hover {
  color: #ff6f00;
}

.menu__list-link--active {
  padding-bottom: 4px;
  position: relative;
}

.menu__list-link--active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 1px;
}

.user-actions {
  display: flex;
}

.user-actions__list {
  display: flex;
}

.submenu {
  min-width: 200px;
  position: absolute;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: .3s linear;
  visibility: hidden;
  opacity: 0;
}

.submenu__item {
  position: relative;
  z-index: 5;
}

.submenu__link {
  border-bottom: 1px solid #000;
  padding: 10px 20px;
  background-color: #eee;
  font-size: 16px;
  display: block;
  color: #000;
  z-index: 5;
}

.menu__list .menu__list-item:hover>.submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  z-index: 5;
}

.form {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}

.form__input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form__input::placeholder {
  color: #fff;
  font-size: 18px;
}

.form__input-btn {
  background: #ff6f00;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-transform: uppercase;
  color: white;
  border-left: none;
  font-size: 16px;
  font-family: sans-serif;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

.top__link {
  background-color: #151515;
  padding: 23px;
  max-width: 430px;
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
}

.top-slider {
  background-color: #f6f6f6;
  padding-top: 65px;
  margin-bottom: 60px;
}

.top-slider__container {
  max-width: 1560px;
}

.top-slider__item {
  display: flex !important;
  justify-content: space-between;
}

.top-slider__content {
  padding-left: 175px;
  padding-top: 70px;
}

.top-slider__title {
  max-width: 670px;
  font-size: 58px;
  line-height: 68px;
  color: #29282d;
  margin-bottom: 35px;
}

.top-slider__text {
  max-width: 470px;
  margin-bottom: 55px;
}

.top-slider__link {
  padding: 14px 36px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6f00;
  cursor: pointer;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.top-slider .slick-dots {

  display: flex;
  justify-content: center;
  margin-top: -70px;
}

.top-slider .slick-dots li button {
  padding: 0;
  font-size: 0;
  background-color: transparent;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid transparent;
  position: relative;
}



.top-slider .slick-dots li.slick-active button {
  border-color: #ff6f00;
}

.top-slider .slick-dots li button::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #8d8d8d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.top-slider .slick-dots li.slick-active button::before {
  background-color: #ff6f00;
}

.top-slider .slick-dots li button {
  padding: 0;
}

.slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}


.footer__content {
  background-color: #f6f6f6;
  padding: 60px 0 80px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  width: 540px;
}

.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
  font-size: 21px;
}

.footer__info-text {
  margin-bottom: 16px;
  max-width: 475px;
}

.info-email {
  font-weight: 600;
  font-size: 14px;
  color: #363838;
  margin-bottom: 22px;
  padding-left: 30px;
  display: inline-block;
  position: relative;
}

.info-email::before {
  content: "";
  background-image: url('../icons/email.svg');
  position: absolute;
  top: 6px;
  left: 0;
  width: 16px;
  height: 12px;
}

.footer__form {
  display: flex;
}

.footer__form-input {
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid #ff6f00;
  width: 100%;
}

.footer__form-input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #A1A1A1;
}

.footer__form-button {
  border: none;
  color: #fffff0;
  border-radius: 21px;
  font-weight: 600;
  padding: 6px 12px;
  min-width: 160px;
  margin-left: 9px;
  cursor: pointer;
  background-color: #ff6f00;
}

.footer__social {
  width: 125px;
  margin-right: auto;
  margin-left: 100px;
}

.footer__social-link {
  padding-left: 28px;
  position: relative;
}

.footer__social-link::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
}

.footer__social-link--facebook {
  background-image: url('../icons/facebook.svg');
  background-repeat: no-repeat;
}

.footer__social-link--instagram {
  background-image: url('../icons/instagram.svg');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  top: 4px;
}

.footer__social-link--pinterest {
  background-image: url('../icons/pinterest.svg');
  background-repeat: no-repeat;
}

.footer__social-link--whatsapp {
  background-image: url('../icons/whatsapp.svg');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
}

.footer__social-link--youtube {
  background-image: url('../icons/youtube.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 12px;
  top: 4px;
}

.footer__social-item,
.footer__menu-item {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 14px;
}

.footer__social-link,
.footer__menu-link {
  color: #707070;
}

.footer__menu {
  margin-right: 60px;
  width: 125px;
}

.footer__copyright {
  background-color: #363838;
  color: #a1a1a1;
  text-align: center;
  padding: 42px 0 41px;
}



.why {
  margin-bottom: 100px;
}

.why__title {
  color: #222;
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.why__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.why__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why__item-title {
  color: #222;
  font-size: 18px;
  line-height: 19px;
  font-weight: 600;
  margin-bottom: 20px;
}

.whi__item-img {
  margin-bottom: 10px;
}

.why__item-text {
  display: flex;
  flex-direction: column;
}

.why__item-text p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400px;
  text-align: center;
  margin-bottom: 10px;
}

.new-collection {
  text-align: center;
  padding: 45px 0 35px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

/* .new-collection__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
} */

.new-collection__text {
  max-width: 730px;
  margin: 0 auto 30px;
}

.collection {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
}

.collection__item {
  position: relative;
}

.collection__images {
  min-height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
}

.collection__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .7);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all .5s;
}

.collection__info-title {
  font-size: 20px;
  line-height: 25px;
  color: #363838;
  padding-bottom: 19px;
  margin-bottom: 19px;
  position: relative;
}

.collection__info-price {
  font-weight: 600;
  font-size: 14px;
  color: #707070;
}


.collection__item {
  position: relative;
}

.collection__item:hover .collection__info {
  opacity: 1;
}

.collection__info-title::after {
  content: "";
  bottom: 0;
  position: absolute;
  height: 1px;
  background: #6d7278;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.blockquote {
  height: 200px;
  background-color: #ffd8d4;
}

.blockquote__content {
  height: 200px;
  max-width: 1700px;
  margin: 0 auto;
  padding: 80px 0;
  text-align: center;
}

.blockquote__title {
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  margin: 0;
}

.blockquote__title span {
  font-size: 21px;
  line-height: 32px;
  font-weight: 400;
}


.gallery {
  padding: 80px 0 90px;
}

/* .gallery__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
} */

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.gallery__buttons {
  text-align: center;
  margin-bottom: 40px;
}

.gallery__btn {
  margin: 0 13px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #454647;
  border-radius: 20px;
  padding: 6px 16px;
  color: #8f8d8d;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.gallery__btn--active {
  background-color: #ff6f00;
  border: 1px solid #ff6f00;
  color: #363838;
}

.gallery__items {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px 35px;
}


.gallery__items.gallery__items--active {
  display: grid;
}

.gallery__item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.video-fashion {
  background-color: #f6f6f6;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding: 125px 0;
  margin-bottom: 80px;
}

.video-fashion__inner {
  display: flex;
}

.video-fashion__popup {
  margin-right: 60px;
  max-width: 530px;
  width: 100%;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.video-fashion__play {}

.video-fashion__content {
  max-width: 570px;
}

.video-fashion__subtitle {
  padding-top: 75px;
  font-size: 22px;
  color: #ff6f00;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.video-fashion__title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: left;
}

.video-fashion__text {
  margin-bottom: 55px;
}

.video-fashion__link {
  padding: 12px 26px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6f00;
  cursor: pointer;
}

.trendig {
  margin-bottom: 100px;
}

/* .trending__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
} */

.trending__subtitle {
  max-width: 570px;
  margin: 0 auto 30px;
}

.trending__items {
  display: flex;
  gap: 30px;
  align-items: center;
}


.video {
  margin-bottom: 120px;
}

.video__inner {}

.video__overlay {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
}

.video__bg {
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* position: relative; */
}

.video__bg::before {}

.video__content {
  content: '';
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video__title {
  font-family: 'Manrope', sans-serif;
  font-size: 120px;
  line-height: 125px;
  font-weight: 700;
  color: #FFFFFF30;
  letter-spacing: 0.2em;
  /* color: #000; */
  z-index: 5;
}

.blog {
  margin-bottom: 120px;
}

/* .blog__title {
  color: #363838;
  font-size: 35px;
  line-height: 51px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;
} */

.blog__text {
  max-width: 570px;
  margin: 0 auto 30px;
}

.blog__items {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.blog__item {
  max-width: 370px;
  border: 1px solid #ececec;
}

.blog__item:hover:hover {
  box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
  border: none;
}

.blog__item:hover:hover .blog__item-link {
  color: #ff6f00;
}

.blog__item-imglink img {
  height: 288px;
  width: 100%;
  object-fit: cover;
}

.blog__item-box {
  padding: 30px 40px;
}

.blog-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.blog-box__author {
  padding-left: 30px;
  position: relative;
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}

.blog-box__date {
  padding-left: 30px;
  position: relative;
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}

.blog-box__author::before {
  background-image: url(../icons/blog-user.svg);
}

.blog-box__date::before {
  background-image: url(../icons/blog-time.svg);
}

.blog-box__author::before,
.blog-box__date::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 4px;
}

.blog__item-titlelink,
.blog__item-link {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}

.blog__item-title {
  color: #29282d;
  font-size: 22px;
  margin-bottom: 20px;
}


/* ==============страница с каталогом================ */


.shop {
  padding: 120px 0 105px;
}

.shop__inner {
  display: flex;
}

.shop__filters {
  width: 370px;
  margin-right: 30px;
}

.filter__item {
  padding: 35px 30px 40px;
  border: 1px solid #ececec;
  margin-bottom: 40px;
}

.shop-content {
  width: 100%;
}

.shop-content__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #ececec;
}

.shop-content__inner .product-item {
  margin-bottom: 40px;
}

.shop-content__filter {
  border: 1px solid #ececec;
  padding: 20px 25px 20px 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-content__filter-buttons {
  display: flex;
  align-items: center;
}

.product-item {
  max-width: 370px;
  text-align: center;
}

.product-item__img-box {
  position: relative;
  height: 370px;
  overflow: hidden;
  margin-bottom: 25px;
}

.product-item__images {
  -o-object-fit: cover;
  object-fit: cover;
}

.product-item__images img {
  max-width: 100%;
  display: block;
}

.product-item__link-box {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: #fff;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  border-radius: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateY(300%);
  transition: all 0.3s;
}

.product-item__link {
  color: #8d8d8d;
  font-size: 16px;
  line-height: 26px;
}

.product-item__title {
  color: #29282d;
  padding: 15px 0 20px;
}

.product-item__price {
  display: flex;
  justify-content: center;
}

.product-item__new-price {
  padding: 0 12px;
  color: #29282d;
}

.product-item__old-price {
  padding: 0 12px;
  text-decoration: line-through;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.pagination__prev,
.pagination__next {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.pagination--disabled {
  display: none;
}

.pagination__list {
  display: flex;
  padding: 0 35px;
}

.pagination__item {
  padding: 0 15px;
}


.pagination__link {
  border: 2px solid #ebebeb;
  margin-right: 2px;
  margin-left: 2px;
  color: #bcbcbc;
  width: 3.8em;
  height: 3.2em;
  font-weight: 700;
  padding: 10px 15px;
}

.pagination__link--active {
  color: #ff6f00;
  border: 2px solid #ff6f00;
}





.add-to-cart {
  appearance: none;
  backface-visibility: hidden;
  background-color: #ff6f00;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
}







/*========= single product========== */


.top__container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding: 120px 0 130px;
  text-align: center;
}

.top__title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}


.product-page {
  padding: 120px 0 0;
}

.product-one__inner {
  display: flex;
}

.product-one__slide {
  width: 730px;
  margin-right: 70px;
}

.product-slide {
  display: flex;
}

.product-slide__thumb {
  width: 140px;
  margin-right: 30px;
}

.product-slide__thumb-item {
  margin-bottom: 30px;
  width: 140px;
  height: 140px;
  cursor: pointer;
}

.product-slide__thumb-item img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.product-slide__big {
  width: 560px;
}

.product-one__content {
  width: 370px;
}

.product-one__title {
  margin-bottom: 20px;
  color: #29282d;
  font-size: 20px;
}

.product-one__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.product-one__price {
  display: flex;
  font-size: 18px;
}

.product-one__price-new {
  color: #29282d;
}

.product-one__price-old {
  padding-left: 15px;
  text-decoration: line-through;
}

.product-one__item-text {
  margin-bottom: 30px;
}

.product-info__item {
  margin-bottom: 5px;
  display: flex;
}

.product-info__title {
  min-width: 100px;
  color: #29282d;
}

.product-one__item-btn {
  border: none;
  cursor: pointer;
  padding: 12px 26px;
  text-transform: uppercase;
  color: #000;
  background-color: #ff6f00;
  cursor: pointer;
}

.related {
  padding: 50px 0 120px;
}

.related__title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.related__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}

.product-item {
  max-width: 370px;
  text-align: center;
}

.product-item__img-box {
  position: relative;
  height: 370px;
  overflow: hidden;
  margin-bottom: 25px;
}

.product-item__images {}

.product-item__title {
  color: #29282d;
  padding: 15px 0 20px;
}

.product-item__price {
  display: flex;
  justify-content: center;
}

.product-item__new-price {
  padding: 0 12px;
  color: #29282d;
}

.product-item__old-price {
  padding: 0 12px;
  text-decoration: line-through;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-slide img {
  display: block;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.product-slide .slick-vertical .slick-slide {
  height: 140px;
  margin-bottom: 30px;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-track:after {
  clear: both;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}


/*============= страниа контакты ================*/

.top {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  /* padding: 120px 0 130px; */
  text-align: center;
}

.top__container {
  max-width: 1700px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 130px;
  text-align: center;
}

.top__title {
  text-align: center;
  font-size: 48px;
  line-height: 65px;
  color: #29282d;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.map {
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  padding-bottom: 120px;
}

.contact__inner {
  display: flex;
}

.contact__info {
  max-width: 370px;
  margin-right: 30px;
}

.contact__info-title {
  font-size: 48px;
  line-height: 58px;
  color: #29282d;
  margin-bottom: 20px;
}

.contact__info-text {
  margin-bottom: 60px;
}

.contact__info-list {}

.contact__info-item {
  color: #29282d;
  margin-top: 55px;
  padding-left: 80px;
  position: relative;
}

.contact__info-item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 60px;
  height: 60px;
  box-shadow: 0px 5px 30px 0px rgba(146, 146, 146, 0.3);
}

.contact__info-phone {
  display: block;
  color: #29282d;
}

.contact__info-item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/contact-phone.svg);
  left: 20px;
  top: 15px;
}

.contact__info-item--location {}

.contact__info-item--location::after {
  width: 14px;
  left: 23px;
  background-image: url(../images/icons/contact-location.svg);
}

.contact__info-item--email {}

.contact__info-item--email::after {
  width: 18px;
  left: 21px;
  background-image: url(../images/icons/contact-email.svg);
}

.contact__form {
  width: 100%;
  padding: 60px 40px;
  box-shadow: 0px 5px 20px 0px rgba(146, 146, 146, 0.3);
}

.contact__form-title {
  font-size: 22px;
  margin-bottom: 20px;
  color: #29282d;
}

.contact__form-box {
  display: flex;
  justify-content: space-between;
}

.contact__form-input {
  width: 100%;
  display: block;
  height: 60px;
  background-color: #f6f6f6;
  border: none;
  padding: 0 24px;
  margin-bottom: 30px;
}

.contact__form-textarea {
  width: 100%;
  display: block;
  resize: none;
  height: 200px;
  background-color: #f6f6f6;
  border: none;
  padding: 24px;
  margin-bottom: 30px;
}

.contact__form-btn {
  padding: 12px 26px;
  text-transform: uppercase;
  color: #fff;
  background-color: #ff6f00;
  cursor: pointer;
  border: none;
}


/* ======================page about============================== */

.about {
  margin-bottom: 100px;
}

.about__prev {
  background-image: url('../images/about-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 160px 0;
}

.about__prev-title {
  color: #151515;
  font-size: 60px;
  line-height: 80px;
}

.about__content {
  padding: 130px 0 40px;
}

.about__title {
  color: #151515;
  font-size: 36px;
  line-height: 60px;
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.about__title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 1px;
  background-color: #6D7278;
}

.about__text {
  padding-left: 284px;
}

.about__text p {
  margin-bottom: 30px;
}

.about__popup {
  background-image: url('../images/popup-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 414px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works {
  margin-bottom: 100px;
}


.works__items {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 30px;
}

.works__item {}

.works__item-img {
  max-width: 660px;
  max-height: 560px;
}

.works__title {
  color: #151515;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 30px;

}

.works__item-title {
  color: #151515;
  font-size: 21px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.works__item-text {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400px;
  color: #848484;
  margin-bottom: 20px;
  max-width: 480px;
}


.team {
  margin-bottom: 120px;
}

.team__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__item-img img{
  height: 288px;
  width: 100%;
  margin-bottom: 10px;
}

.team__item-job {
  color: #000;
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.team__item-name {
  color: #848484;
  font-size: 28px;
  line-height: 21px;
  font-weight: 400;
}