{% extends "main/base.html" %}
{% load static %}

{% block catalog_content %}
<section class="shop">
    <div class="container">
        <div class="shop__inner">
            <div class="shop__filters filter">
                <div class="filter__item">
                    <form class="">
                        <div class="">
                            <input class="" type="checkbox" >
                            <input class="">
                            <label class="">
                                Товары по акции
                            </label>
                        </div>
                        <p class="">Сортировать:</p>
                        <div class="">
                            <input class="" type="radio">
                            <label class=" ">
                                По умолчанию
                            </label>
                        </div>
                        <div class="">
                            <input class="" type="radio">
                            <label class="">
                                От дешевых к дорогим
                            </label>
                        </div>
                        <div class="">
                            <input class="" type="radio" >
                            <label class="">
                                От дорогих к дешевым
                            </label>
                        </div>
                        <button type="submit" class="">Применить</button>
                    </form>
                </div>
            </div>
            <div class="shop-content">
                <div class="shop-content__inner">
                    {% for product in goods %}
                    <div class="product-item">
                        <div class="product-item__img-box">
                            {% if product.image %}
                                <img class="product-item__images" src=" {{product.image.url}} " alt=" {{product.name}} ">
                            {% else %}
                                <img class="product-item__images" src="{% static "deps/images/Not found image.png" %} " alt="">
                            {% endif %}
                        </div>
                        <div class="product-item__wrapper-box">
                            <div class="product-item__box">
                                <a href=" {% url "catalog:product" product.slug %} ">
                                    <h4 class="product-item__title"> {{ product.name }} </h4>
                                </a>
                                <div class="product-item__price">
                                    {% if product.discount %}
                                        <div class="product-item__new-price">$ {{ product.sell_price }}</div>
                                        <div class="product-item__old-price">$ {{product.price}} </div>
                                    {% else %}
                                    <div class="product-item__new-price">$ {{product.price}} </div>
                                    {% endif %}
                                    <div class="product_id">id: {{product.display_id}}</div>
                                </div>
                            </div>
                            <div class="product-item__content-box">
                                <p class="product-item__text">
                                    {{ product.description }} 
                                </p>
                                <a href="#" class="btn add-to-cart">
                                    Add to cart
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock  %}








