{% extends 'base.html' %}
{% load static %}
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %} ">

{% block block__content %}

<section class="top">
    <div class="top__container" style="background-image: url('./images/top-bg.png');">
        <div class="container">
            <h2 class="top__title title">Product</h2>
        </div>
    </div>
</section>



<section class="single-product">
    <div class="container">
        <div class="single-product__inner">

            <div class="product-one__slide product-slide">
                <div class="product-slide__thumb">
                    <div class="product-slide__thumb-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    <div class="product-slide__thumb-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    <div class="product-slide__thumb-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    <div class="product-slide__thumb-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                </div>
                <div class="product-slide__big">
                    <div class="product-slide__big-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    {% comment %} <div class="product-slide__big-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    <div class="product-slide__big-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div>
                    <div class="product-slide__big-item">
                        <img src=" {{product.image.url}} " alt="">
                    </div> {% endcomment %}
                </div>
            </div>

            <div class="single-product__content">
                <h3 class="single-product__title"> {{product.name}} </h3>
                <div class="single-product__price-box">
                    <span class="single-product__price">$ {{product.price}} </span>
                </div>
                <div class="single-product__info">
                    <div class="product-info__text">
                       Product id: {{product.id}}
                    </div>
                    <div class="product-info__text">
                       Category: {{product.category}}
                     </div>
                </div>
                <div class="single-product__description">
                    {{product.description}}
                </div>
                <div class="product__btns-container">

                    <a class="product__cart-btn btn add-to-cart" href="{% url 'cart:cart_add' %}"
                    data-product-id=" {{product.id}} "
                    >
                    {% csrf_token %}
                    Buy Now
                    </a>

                    
                    <a class="product__wishlist-btn btn add-to-wishlist" href="{% url 'wishlist:wishlist_add' %}"
                    data-product-id=" {{product.id}} "
                    >
                    {% csrf_token %}
                    <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.7 4C18.87 4 21 6.98 21 9.76C21 15.39 12.16 20 12 20C11.84 20 3 15.39 3 9.76C3 6.98 5.13 4 8.3 4C10.12 4 11.31 4.91 12 5.71C12.69 4.91 13.88 4 15.7 4Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    </a>
                </div>
            </div>
        </div>

        
        

<div class="single-product-tabs">

    <div class="tabs-container single__product-tabs__container">
      <ul class="single-product__tabs-buttons" aria-labelledby="tabs-title">
        <li class="single-product__tabs-btn">
            <a class="single-product-btn__link"  id="tab-1" href="#advertising"> Product Description </a>
        </li>
        <li class="single-product__tabs-btn">
            <a class="single-product-btn__link" id="tab-2" href="#social-media"> Shipping & Returns </a>
        </li>
        <li class="single-product__tabs-btn">
            <a class="single-product-btn__link" id="tab-3" href="#content-marketing"> Reviews ( {{reviews.count }} ) </a>
        </li>
      </ul>
  
      <div class="tabs__panels flow">
        <div id="advertising" aria-labelledby="tab-1">
          <div>
            {{product.description}}
          </div>
        </div>
        <div id="social-media" aria-labelledby="tab-2">
            <div>
                <p>
                    Your order of 100$ or more gets free standard delivery.
                </p>
                <p>Standard delivered 4-5 Business Days</p>
                <p>Express delivered 2-4 Business Days</p>
              </div>
        </div>
        <div id="content-marketing" aria-labelledby="tab-3">
            {% comment %} {% for review in reviews %}
            <div class="review-container">
                <a href=""> {{review.user.username|title}} </a>
                <span> {{review.date|date:"d M, Y "}} </span>
                <p href=""> {{review.review}} </p>
            </div>
            {% endfor %} {% endcomment %}


            {% for review in reviews %}
            <div class="single-comment ">
                <div class="user single-comment__item ">
                    <div class="thumb single-comment__info">
                        <img class="single-comment__user-image" src=" {{review.user.image.url}} " alt="" />
                        <h3 class="single-comment__author"> {{review.user.username|title}} </h3>
                        <div class="">
                            <p class="single-comment__date"> {{review.date|date:"d M, Y"}} </p>
                        </div>
                    </div>
                    <div class="single-comment__text desc">
                        <p class=""> {{review.review}} </p>
                    </div>
                </div>
            </div>

 
            {% endfor %}


            <div class="comment-form">
                <h4 class="comment-form__title add-review">Add a review</h4>
                <strong class="text-success" id="review-res" ></strong>
                <div class="product-rate"></div>
                <div class="row">
                    <div class="">
                        <form class="form-contact comment_form hide-comment-form " action=" {% url "catalog:ajax-add-review" product.id %} " id="commentForm" method="POST" >
                            {% csrf_token %}
                            <div class="row">
                                <div class="">
                                    <div class="comment-form__textarea form-group">
                                        {{review_form.review}}
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group">
                                        {% comment %} {{review_form.rating}} {% endcomment %}
                                    </div>
                                </div>
                            <div class="form-group">
                                <button type="submit" class="comment-form__button button button-contactForm">Submit Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>








        </div>
      </div>
    </div>
  
        
        {% comment %} <div class="product-info">
            <div class="tab-style3">
                <ul class="nav nav-tabs text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link active" id="Description-tab" data-bs-toggle="tab" href="#Description">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Additional-info-tab" data-bs-toggle="tab" href="#Additional-info">Additional info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="Reviews-tab" data-bs-toggle="tab" href="#Reviews">Reviews ( {{reviews.count}} )</a>
                    </li>
                </ul>
                <div class="tab-content shop_info_tab entry-main-content">
                    <div class="tab-pane fade show active" id="Description">
                        <div class="">
                            <p> {{product.description|safe}} </p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Reviews">
                        <!--Comments-->
                        <div class="comments-area">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h4 class="mb-30">Customer questions & answers</h4>
                                    <div class="comment-list">
                                        {% for review in reviews %}
                                        <div class="single-comment justify-content-between d-flex mb-30">
                                            <div class="user justify-content-between d-flex">
                                                <div class="thumb text-center">
                                                    <img src="assets/imgs/blog/author-2.png" alt="" />
                                                    <a href="#" class="font-heading text-brand"> {{review.user.username|title}} </a>
                                                </div>
                                                <div class="desc">
                                                    <div class="d-flex justify-content-between mb-10">
                                                        <div class="d-flex align-items-center">
                                                            <span class="font-xs text-muted"> {{review.date|date:"d M, Y"}} </span>
                                                        </div>
                                                        <div class="">
                                                            {% for star in reveiw.rating|ljust:review.rating %}
                                                            <i class="fas fa-star text-warning"> </i>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                    <p class="mb-10"> {{review.review}} </p>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <h4 class="mb-30">Customer reviews</h4>
                                    <div class="d-flex mb-30">
                                        <div class="product-rate d-inline-block mr-15">
                                            <div class="product-rating" style="width: 90%"></div>
                                        </div>
                                        <h6> {{average_rating.rating|floatformat:1}} out of 5</h6>
                                    </div>
                                    <div class="progress">
                                        <span>5 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                                    </div>
                                    <div class="progress">
                                        <span>4 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                    </div>
                                    <div class="progress">
                                        <span>3 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">45%</div>
                                    </div>
                                    <div class="progress">
                                        <span>2 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
                                    </div>
                                    <div class="progress mb-30">
                                        <span>1 star</span>
                                        <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
                                    </div>
                                    <a href="#" class="font-xs text-muted">How are ratings calculated?</a>
                                </div>
                            </div>
                        </div>
                        <!--comment form-->
                        {% if request.user.is_authenticated %} 
                        {% if make_review %}
                        <div class="comment-form">
                            <h4 class="mb-15 add-review">Add a review</h4>
                            <strong class="text-success" id="review-res" ></strong>
                            <div class="product-rate d-inline-block mb-30"></div>
                            <div class="row">
                                <div class="col-lg-8 col-md-12">
                                    <form class="form-contact comment_form hide-comment-form " action=" {% url "core:ajax-add-review" product.id %} " id="commentForm" method="POST" >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    {{review_form.review}}
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    {{review_form.rating}}
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <button type="submit" class="button button-contactForm">Submit Review</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %} 
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
{% comment %} 
        {% if products %}
        <div class="col-12">
            <h2 class="section-title style-1 mb-30">Related products</h2>
        </div>
        {% endif %}
        <div class="col-12">
            <div class="row related-products">
                {% for product in products %}
                <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                    <div class="product-cart-wrap hover-up">
                        <div class="product-img-action-wrap">
                            <div class="product-img product-img-zoom"> {% endcomment %}

                                 
                                {% comment %} {% url "goods:product" product.pid %}  ' tabindex='0' {% endcomment %}
                                {% comment %} <a href=''> 
                                    <img class="default-img" src=" {{product.image.url}} " alt="" />
                                    <img class="hover-img" src=" {{product.image.url}} " alt="" />
                                </a> {% endcomment %}



                            {% comment %} </div>
                            <div class="product-action-1">
                                <a aria-label="Quick view" class="action-btn small hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-search"></i></a>
                                <a aria-label='Add To Wishlist' class='action-btn small hover-up' href='/shop-wishlist' tabindex='0'><i class="fi-rs-heart"></i></a>
                                <a aria-label='Compare' class='action-btn small hover-up' href='/shop-compare' tabindex='0'><i class="fi-rs-shuffle"></i></a>
                            </div>
                            <div class="product-badges product-badges-position product-badges-mrg">
                                <span class="hot">Hot</span>
                            </div>
                        </div>
                        <div class="product-content-wrap">
                            <h2><a href=' {% url "core:product-detail" product.pid %} ' tabindex='0'> {{product.title|truncatechars:20}} </a></h2>
                            <div class="rating-result" title="90%">
                                <span> </span>
                            </div> 
                            <div class="product-price">
                                <span>$</span><span class="current-price current-product-price-{{product.id}}">{{product.price}}</span>
                                <span class="old-price">$ {{product.old_price}} </span>
                            </div>
                        </div>
                    </div>
                </div>                {% endfor %}  {% endcomment %}

    </div>
</section>














{% comment %} <section class="product-page">
    <div class="container">
        <div class="product-one">
            <div class="product-one__inner">
                <div class="product-one__slide product-slide">
                    <div class="product-slide__thumb">
                        <div class="product-slide__thumb-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__thumb-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__thumb-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__thumb-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                    </div>
                    <div class="product-slide__big">
                        <div class="product-slide__big-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__big-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__big-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                        <div class="product-slide__big-item">
                            <img src=" {{product.image.url}} " alt="">
                        </div>
                    </div>
                </div>
                <div class="product-one__content">
                    <h2 class="product-one__title">
                        {{product.name}}
                    </h2>
                    <div class="product-one__box">
                        <div class="product-one__price">
                            <div class="product-one__price-new">{{product.sell_price}}</div>
                            {% comment %} <div class="product-one__price-old">(29.00)</div> {% endcomment %}
                        {% comment %} </div>
                    </div>
                    <p class="product-one__item-text">
                        <span>Review:</span>
                        {{product.description}}
                    </p>
                    <form class="product-one__item-form product-filter" action="#">
                    <div class="product-one__item-info product-info">
                        <ul class="product-info__list">
                            <li class="product-info__item">
                                <div class="product-info__title">
                                    SKU
                                </div>
                                <div class="product-info__text">
                                    {{product.id}}
                                </div>
                            </li>
                            <li class="product-info__item">
                                <div class="product-info__title">
                                    Categories
                                </div>
                                <div class="product-info__text">
                                   {{product.category}}
                                </div>
                            </li>
                        </ul>
                    </div>

                    <button class="product-one__item-btn" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
</section>  {% endcomment %}
                    {% comment %} <input class="product-one__item-num" type="number" value="1" min="1"> {% endcomment %}

{% endblock  %}