{% load static %}
{% load goods_tags %}

{% load carts_tags %}

{% user_carts request as carts  %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@400;500;600;700;900&family=Manrope:wght@300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static "deps/css/fancybox.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
    {% comment %} <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static "deps/css/style.css" %}">
    {% comment %} <link rel="stylesheet" href="{% static "deps/css/my_css.css" %} "> {% endcomment %}
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href=" {% url "main:index" %}">Home</a>
                        </li>
                        <li class="menu__list-item menu__list-item--dropdown">
                            <a class="menu__list-link menu__list-link--dropdown" href="#">Products</a>
                            <ul class="submenu">
                                {% tag_categories as categories %}
                                {% for category in categories %}
                                <li class="submenu__item">
                                    <a class="submenu__link" href=" {% url "catalog:index" category.slug %} "> {{category.name}} </a>
                                </li>                                        
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="{% url "blog:blog" %} ">Blog</a> 
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="{% url "about:about" %}">About</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href=" {% url "contacts:contacts" %} ">Contact</a>
                        </li>
                    </ul>
                </nav>
                <a class="logo" href="#">
                    <img src=" {% static 'deps/logo.svg' %} " alt="">
                </a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <div class="user-actions">
                                <form class="form" role="search" action=" {% url "catalog:search" %} " method="get">
                                    <input class="form__input" role="search" type="search" placeholder="Search"  aria-label="Search" name="q" >
                                    <button class="form__input-btn"  type="submit">
                                        <img src="{% static "deps/icons/search.svg" %} " alt="">
                                    </button>
                                </form>
                            </div>
                        </li>
                        <li class="menu__list-item menu__list-link--dropdown">
                            <a class="menu__list-link" href="">
                                <img src=" {% static 'deps/icons/user.svg' %} " alt="">
                            </a>
                            <ul class="submenu">
                                {% if not user.is_authenticated %}
                                    <li class="submenu__item">
                                        <a class="submenu__item-link" href="{% url "user:login" %}">Войти</a>
                                    </li>
                                {% else %}

                        <li class="submenu__item"><a class="submenu__item-link" href="{% url "user:profile" %}">Личный кабинет</a></li>
                        {% if user.is_admin or user.is_staff %}
                            <li class="submenu__item"><a class="submenu__item-link" href="{% url "admin:index" %}">Админ панель</a></li>
                        {% endif %}
                        <li class="submenu__item"><a class="submenu__item-link" href="{% url "user:logout" %}">Выйти</a></li>
                    {% endif %}
                    </li>
                </ul>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="">
                            <img src=" {% static 'deps/icons/heart.svg' %} " alt="">
                            <span class="menu-list__num">3</span>
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href=" {% url 'user:users_cart' %} ">
                            <img src=" {% static 'deps/icons/cart.svg' %} " alt="">
                            <span class="menu-list__num"> {{carts.total_quantity}} </span>
                        </a>
                    </li>
                </nav>
            </div>
        </div>
    </header>

    <main class="main">
        {% include "includes/notification.html" %}
        {% block block__content %}{% endblock  %}
    </main>
        <footer class="footer">
            <div class="container">
                <div class="footer-top">
                    <div class="footer-top__items">
                        <div class="footer__contact">
                            <h5 class="footer__contact-title">Contact Us</h5>
                            <p class="footer__contact-address">
                                Address: 139 Brook Drive South 
                                Richmond Hill, New York 1067 USA
                            </p>
                            <div class="footer__contact-email">
                                <p class="footer__contact-email__name">Email:</p>
                                    <a class="footer__contact-email__link" href="">
                                        bzopets@support.com
                                    </a>
                            </div>
                            <div class="footer__contact-call">
                                <img class="footer__contact-call__image" src=" {% static 'deps/icons/phone.png' %} " alt="">
                                <div class="footer__contact-call__info">
                                    <p class="footer__contact-call__title">Call To Order</p>
                                    <a class="footer__contact-call__phone" href="">
                                        (+084) 859 481 3614
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="footer-top__links">
                            <h5 class="footer__links-title">Quick Links</h5>
                            <ul class="footer__links-list">
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link"> About us</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Contact us</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Shop</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Products</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Blogs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__links">
                            <h5 class="footer__links-title">Userful Links</h5>
                            <ul class="footer__links-list">
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Special Offers</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Privacy Policy</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Teams of Use</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">Portfolio</a>
                                </li>
                                <li class="footer__links-item">
                                    <a href="" class="footer__links-item-link">FAQs</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-newsletter">
                            <h4 class="footer-newsletter__title">Our Newsletter</h4>
                            <p class="footer-newsletter__text">
                                Subscribe to the weekly newsletter 
                                for all the latest updates & get a 10% off bill offers.
                            </p>
                            <div class="footer-form__container">
                                <form action="" class="form">
                                    <input class="footer-form__input" placeholder="Your Email" type="text">
                                    <button class="footer-form__btn">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static "deps/js/jquery.mixitup.min.js" %}"></script>  
    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery/slick.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-events.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/fancybox.umd.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "deps/js/main.js" %}"></script>
</body>

</html>
